<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<header>
    <nav>
        <ul>
            <li><%= link_to image_tag "feed_icon.svg" %></li>
            <li><input type="text" name="profile_search" id="search_bar"></li>
            <li><%= link_to image_tag "message_icon.svg" %></li>
            <li><%= link_to image_tag "notification_icon.svg" %></li>
            <li><%= render partial: "avatar_link", locals: {user: current_user} %></li>
        </ul>
    </nav>
</header>

<main>
    <section class="display">
        <div class="background">
            <%= image_tag @profile.background.representation(resize_to_fill:[1250,600]) %>
            <%= link_to (image_tag("camera_icon.svg")+"Edit background") if @user == current_user %>
        </div>
        <div class="avatar">
            <div>
                <%= image_tag @profile.avatar.representation(resize_to_fill: [170, 170]) %>
                <%= link_to(image_tag("camera_icon.svg"), change_avatar_user_profile_path(current_user)) if @user== current_user %>
            </div>
            <div>
                <h1><%= @profile.name %></h1>
                <a><%= %>Friends</a>
            </div>
        </div>

        <%= link_to(image_tag("edit_icon.svg") + "Edit Profile", edit_profile_path) if @user== current_user %>
    </section>

    <section>
        <div>
            <nav>
                <ul>
                    <li><%= link_to "Publications", user_posts_path(@user) %></li>
                    <li><%= link_to "Friends" %></li>
                    <li><%= link_to "Photos", user_attachments_path(@user) %></li>
                </ul>
            </nav>
        </div>
    </section>

    <section>
        <h2>Biography</h2>
        <ul>
            <%= image_tag("local_icon.svg") + "From #{@profile.location}" if @profile.location %>
            <%= image_tag("calendar_icon.svg") + "Birthday #{@profile.birthday}" if @profile.birthday %>
            <%= image_tag("date_icon.svg") + "Joined #{@profile.created_at.to_date.to_fs(:short)}" if @profile.created_at %>
        </ul>
    </section>

    <section>
        <div>
            <h2>Photos</h2>
            <%= link_to "View all photos", user_attachments_path(@user) %>
        </div>
        <div>
            <% @attachments.each do |attachment| %>
                <%= link_to(render_attachment_image(attachment), attachment.post ) %>
            <% end %>
        </div>
    </section>

    <section class="posts feed">
        <div class="create_form">
            <%= render "posts/post_form", category: :feed %>
            <%# TODO: possibility to create a post on other people feed by tagging %>
        </div>
        <div class="feed">
            <h2>Publications</h2>
            <% @posts.each do |post| %>
                <%= render post %>
            <% end %>
        </div>
    </section>

    <footer>Created by <%= link_to "André Belbut", "https://github.com/Belbut" %></footer>
</main>
