<main>
  <section class="profile">
    <div class="display-container">
      <div class="background-element">
        <%= render "background_photo_section" %>
      </div>
      <div class="avatar-element">
        <%= render "avatar_photo_section" %>
      </div>
    </div>

    <div class="frame">
      <div class="name">
        <h1 class="is-link"><%= @profile.name %></h1>
      </div>
      <div class="tabs is-right">
        <ul>
          <li>
            <% if @user == current_user %>
                <%= link_to(edit_profile_path) do %>
                  <span class="icon is-small"><i class="fa fa-user-pen"></i></span>
                  <span>Edit Profile</span>
                <% end %>
            <% else %>
              <div class="friendship_interactions">
                <div><%= render_user_friend_request_action(current_user, @user) %></div>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to user_posts_path(@user) do %> <%# TODO: link to posts form user %>
              <span class="icon is-small"><i class="fa fa-newspaper"></i></span>
              <span>Publications</span>
            <% end %>
          </li>

          <li>
            <%= link_to user_friends_path(@user) do %>
              <span class="icon is-small"><i class="fa-solid fa-people-group"></i></span>
              <span>Friends</span>
            <% end %>
          </li>

          <li>
            <%= link_to user_attachments_path(@user) do %>
              <span class="icon is-small"><i class="fa fa-image"></i></span>
              <span>Pictures</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="columns mt-5">
    <div class="column">
      <section class="section box pt-4 pb-4">
        <h2 class="title is-4 mb-2">Biography</h2>
        <div class="content">
          <% if @profile.location %>
            <p class="mb-1">From: <%= @profile.location %></p>
          <% end %>
          <% if @profile.birthday %>
            <p class="mb-1">Birthday: <%= @profile.birthday.to_date.to_fs(:long) %></p>
            <p class="mb-1">Age: <%= ((Time.now - @profile.birthday.to_time)/1.year.seconds).floor %></p>
          <% end %>
          <% if @profile.created_at %>
            <p>Joined: <%= @profile.created_at.to_date.to_fs(:long) %></p>
          <% end %>
        </div>
      </section>

      <section class=" box pt-4 pb-4">
        <div class="is-flex is-justify-content-space-between">
          <h2 class="title is-4 mb-2">Photos</h2>
          <%= link_to "View all photos", user_attachments_path(@user) %>
        </div>
        <div class="fixed-grid has-3-cols">
          <div class="grid is-gap-0.5">
            <% @attachments.each do |attachment| %>
              <%= link_to(render_attachment_image(attachment, size: [175, 175]), attachment.post, class: "cell image-grid") %>
            <% end %>
          </div>
        </div>
      </section>
    </div>

    <div class="column">
      <section class=" box">
        <div class="create_form">
          <%= render "posts/post_form", category: :feed %>
          <%# TODO: possibility to create a post on other people feed by tagging %>
        </div>
      </section>

      <section class="section">
          <h2>Publications</h2>
          <% @posts.each do |post| %>
            <%= render post %>
          <% end %>
      </section>
    </div>
  </div>
</main>
