<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<main>
    <section class="display">
        <%= render "background_photo_section" %>

        <%= render "avatar_photo_section" %>

        <div class="name">
            <h1><%= @profile.name %></h1>
        </div>

        <%= link_to(image_tag("edit_icon.svg") + "Edit Profile", edit_profile_path) if @user== current_user %>
    </section>

    <section>
        <% unless @user == current_user %>
            <div class="friendship_interation">
                <div><%= render_user_friend_request_action(current_user, @user) %></div>
            </div>
        <% end %>
        <div>
            <nav>
                <ul>
                    <li><%= link_to "Publications", user_posts_path(@user) %></li>
                    <li><%= link_to "Friends", user_friends_path(@user) %></li>
                    <li><%= link_to "Photos", user_attachments_path(@user) %></li>
                </ul>
            </nav>
        </div>
    </section>

    <section>
        <h2>Biography</h2>
        <ul>
            <%= image_tag("local_icon.svg") + "From #{@profile.location}" if @profile.location %>
            <%= image_tag("calendar_icon.svg") + "Birthday #{@profile.birthday}" if @profile.birthday %>
            <%= image_tag("date_icon.svg") + "Joined #{@profile.created_at.to_date.to_fs(:short)}" if @profile.created_at %>
        </ul>
    </section>

    <section>
        <div>
            <h2>Photos</h2>
            <%= link_to "View all photos", user_attachments_path(@user) %>
        </div>
        <div>
            <% @attachments.each do |attachment| %>
                <%= link_to(render_attachment_image(attachment), attachment.post ) %>
            <% end %>
        </div>
    </section>

    <section class="posts feed">
        <div class="create_form">
            <%= render "posts/post_form", category: :feed %>
            <%# TODO: possibility to create a post on other people feed by tagging %>
        </div>
        <div class="feed">
            <h2>Publications</h2>
            <% @posts.each do |post| %>
                <%= render post %>
            <% end %>
        </div>
    </section>
</main>
