<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<header>
    <nav>
        <ul>
            <li><%=link_to image_tag "feed_icon.svg"%></li>
            <li><input type="text" name="profile_search" id="search_bar"></li>
            <li><%=link_to image_tag "message_icon.svg"%></li>
            <li><%=link_to image_tag "notification_icon.svg"%></li>
            <li><%=render partial: "avatar_link", locals: {user: current_user}%></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <div>
            <%=image_tag @profile.background.representation(resize_to_fill:[1250,600])%>
            <%=link_to image_tag("camera_icon.svg")+"Edit background"%>
        </div>
        <div>
            <div>
                <%= image_tag @profile.avatar.representation(resize_to_fill: [170, 170]) %>
                <%=link_to image_tag "camera_icon.svg"%>
            </div>
            <div>
                <h1><%=@profile.name%></h1>
                <a><%=%>Friends</a>
            </div>
        </div>

        <%=link_to image_tag("edit_icon.svg") + "Edit Profile", edit_profile_path %>
    </section>
    <div>
        <nav>
            <ul>
                <li><%= link_to "Publications"%></li>
                <li><%= link_to "Friends"%></li>
                <li><%= link_to "Photos"%></li>                
            </ul>
        </nav>
    </div>

    <section>
        <h2>Biography</h2>
        <ul>
            <%= image_tag("local_icon.svg") + "From #{@profile.location}" if @profile.location%>
            <%= image_tag("calendar_icon.svg") + "Birthday #{@profile.birthday}" if @profile.birthday%>
            <%= image_tag("date_icon.svg") + "Joined #{@profile.created_at.to_date.to_fs(:short)}" if @profile.created_at%>
        </ul>
    </section>

    <section>
        <h2>Post</h2>
        <div>
            <%=render partial: "avatar_link", locals: {user: current_user}%>
            <input type="txt" name="" id="">
        </div>
        <div>
            <%=button_to image_tag "attach_icon.svg"%>
            <%=button_to image_tag "tag_icon.svg"%>
            <%=button_to "Post"%>

        </div>
    </section>

    <section>
        <div>
            <h2>Photos</h2>
            <%=link_to "View all photos"%>
        </div>
        <div>
            <img src="" alt="1" id="img1">
            <img src="" alt="2" id="img2">
            <img src="" alt="3" id="img3">
            <img src="" alt="4" id="img4">
            <img src="" alt="5" id="img5">
            <img src="" alt="6" id="img6">
            <img src="" alt="7" id="img7">
            <img src="" alt="8" id="img8">
            <img src="" alt="9" id="img9">
        </div>
    </section>
    <section>
        <h2>Feed</h2>
    </section>
</main>


<footer>Created by <%=link_to "André Belbut", "https://github.com/Belbut"%></footer>