

<div class=<%= "comment" %>>
    <div><%= render "profiles/user_identity_header", user: comment.author %></div>
    <%= comment.body %>
    <div class="reactions">
        <%= button_to "Like" %>
        <%= button_to "Reply" %>
        <%= link_to "Edit Comment", edit_comment_path(comment) if comment.author == current_user %>
    </div>
</div>
