<div class="comments">
    <%= render "profiles/user_identity_header", user:current_user %>
    <span>Comment</span>
    <div>
        <%= form_with model: Comment.new do |form| %>
            <%= form.hidden_field :post_id, value: post.id %>
            <%= form.textarea :body, size: "100x10", placeholder: "Add your comment" %>
            <%= form.submit "Leave a comment" %>
        <% end %>
    </div>
</div>
