<%# partial parameters: parent_content:[Post, Comment] ; optional: nil %>

<div class="comments">
    <%= render "profiles/user_identity_header", user:current_user %>
    <span>Comment</span>
    <div>
        <%= form_with model: parent_content.replies.new do |form| %>
            <%= form.hidden_field parent_content.class.name.underscore.to_s, value: parent_content.id %> <%# TODO: extract to helper%>
            <%= form.textarea :body, size: "100x10", placeholder: "Add your comment" %>
            <%= form.submit "Leave a comment" %>
        <% end %>
    </div>
</div>
