<div class="level">
  <div class="level-left">
    <div class="level-item">
      <%= render "profiles/avatar_linked_photo", class: "is-64x64" %>
    </div>

    <div class="level-item">
      <div>
        <h1 class="title">
          Friendships
          <br>
          <%= link_to(@user.profile.name, user_profile_path(@user)) %>
        </h1>
      </div>
    </div>
  </div>
</div>

<hr>

<h2>Friends:</h2>
<%= tag.blockquote("You don't have any friends yet!") if @friends_profiles.empty? %>
<%= render "shared/card_grid", collection: @friends_profiles, precompute: @precompute %>

<% if current_user == @user %>
    <h2>Friends Invitations:</h2>
    <%= tag.blockquote("You have no pending invitations to respond.") if @pending_incoming_fr_profiles.empty? %>
    <%= render "shared/card_grid", collection: @pending_incoming_fr_profiles, precompute: @precompute %>

    <h2>Invitations Sended:</h2>
    <%= tag.blockquote("You aren't waiting on any.") if @pending_outgoing_fr_profiles.empty? %>
    <%= render "shared/card_grid", collection: @pending_outgoing_fr_profiles, precompute: @precompute %>
<% end %>
