<div class="post">
    <section class="heading">
        <div>
            <span><%= render  partial: "profiles/avatar_link", locals: { user: post.author } %></span>
            <span><%= link_to(post.author.profile.name, user_profile_path(post.author)) %></span>
            <span> Post Title </span>
        </div>
        <div><%= post.updated_at.to_date.to_fs(:long_ordinal) %></div>
    </section>
    <section class="content">
        <% preview_attachments(post).each_with_index do |attachment, index| %>
            <% if attachment.annexable.present? && attachment.annexable.file.representable? %>
                <%= image_tag attachment.annexable.file.representation(resize_to_limit: [300, 300]) %>
            <% end %>
            <%= not_displayed_attachments(post) if index == 4 %>
        <% end %>
        <div><%= post.body %></div>
    </section>
    <section class="interact">
       <span>Number of reactions</span>
       <div>
           <%= button_to "Like" %>
           <%= button_to "Comment" %>
           <%= button_to "Share" %>
           <%= link_to "Edit Post", edit_post_path(post) if post.author == current_user %>
       </div>
    </section>
    <section class="comment">
        <span><%= render  partial: "profiles/avatar_link", locals: { user: current_user } %></span>
        <span>Comment</span>
        <div>
            <%= form_with model: Comment.new do |form| %>
                <%= form.hidden_field :post_id, value: post.id %>
                <%= form.textarea :body, size: "100x10" %>
                <%= form.submit "Leave a comment" %>
            <% end %>
        </div>
    </section>
</div>
