<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_with model: @post do |form| %>
    <%= form.text_area :body, maxlength: 500 %>

    <% @post.attachments.each_with_index do |attachment, index| %>
        <div>
            <%= image_tag attachment.annexable.file.representation(resize_to_limit: [250,250]) %>
            <%= link_to "Delete", post_attachment_path(@post, attachment), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        </div>
    <% end %>
    <div><%= form.file_field :added_files, multiple: true, include_hidden: false %></div>

    <%= form.submit "Save" %>
    <%= link_to "Delete Post", @post, data: {turbo_method: :delete} %>
<% end %>
