<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="post">
    <%= render @post %>
    <section class="comments">
        <div class="view">
            <% @post.comments.first(5).each do |comment| %>
                <div>
                    <%= render partial: "profiles/avatar_link", locals: {user: comment.author } %>
                    <%= comment.body %>
                    <%= button_to "Like" %>
                    <%= button_to "Reply" %>
                    <%= link_to "Edit Comment", edit_comment_path(comment) if comment.author == current_user %>
                </div>
            <% end %>
        </div>
        <%= render "comments/comment_form", locals: { post: @post} %>
    </section>
</div>
