

<header>
    <nav>
    <% if user_signed_in? %>
        <ul>
            <li><%= link_to image_tag "feed_icon.svg" %></li>
                <%= form_with url: "/search", method: :get do |form| %>
                    <%= form.search_field :query %>
                    <%= image_submit_tag "search_icon.svg" %>
                <% end %>
            <li><%= link_to image_tag "message_icon.svg" %></li>
            <li><%= link_to image_tag "notification_icon.svg" %></li>
            <li><%= render "profiles/avatar_linked_photo" %></li>
        </ul>
    <% else %>
        <ul>
<%# TODO: add sign in option %>
        </ul>
    <% end %>
    </nav>
</header>
