<header>
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <%# TODO: missing feed route and view %>
                <%= link_to "", class:"navbar-item" do %>
                    <span class="icon is-large">
                        <i class="fa-solid fa-3x fa-hippo"></i>
                    <% end %>
                </div>
                <div class="navbar-menu">
                    <% if user_signed_in? %>
                        <div class="navbar-start">
                            <div class="navbar-item">
                                <%= render "profiles/search_bar_form" %>
                            </div>
                        </div>
                        <div class="navbar-end">
                            <%= link_to image_tag("message_icon.svg"),"", class: "navbar-item" %>
                            <%= link_to image_tag("notification_icon.svg"),"", class: "navbar-item" %>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <%= render "profiles/avatar_linked_photo", class_option: "navbar-link" %>
                                <div class="navbar-dropdown">
                                    <%= link_to "My Profile", user_profile_path(current_user), class: "navbar-item" %>
                                    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete}, class: "navbar-item" %>
                                </div>
                            </div>
                        </div>
                    <% else %>
                        <div class="navbar-end">
                            <%= form_for(resource,html: {class: "is-flex"}, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <div class="navbar-item">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <%= f.email_field :email, class:"input", value:"test@test.com", autofocus: true, autocomplete: "email" %>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-item">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                            <%= f.password_field :password, class:"input", value: "123456", autocomplete: "current-password" %>
                                        </div>
                                    </div>
                                </div>
                                <div class=" navbar-item ">
                                    <div class="field">
                                        <div class="control">
                                            <%= f.submit "Log in", class: "button is-link" %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </nav>
    </header>
